atomicwrites==1.4.0
attrs==19.3.0
chem-util==0.0.4
colorama==0.4.3
cycler==0.10.0
flake8==3.8.1
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
more-itertools==8.3.0
mpmath==1.1.0
numpy==1.18.4
packaging==20.4
pluggy==0.13.1
py==1.8.1
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==5.4.2
python-dateutil==2.8.1
scipy==1.4.1
six==1.15.0
sympy==1.5.1
wcwidth==0.1.9
